<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a routerLink="/products">
                <img src="assets/images/logo.png" alt="eventRentalManagement" class="img-responsive" />
            </a>
        </div>

        <app-admin-header></app-admin-header>

    </aside>
    <!-- END MENU SIDEBAR-->
    <div class="page-container">
        <div class="mt-4">
            <div class="card text-left" style="color: green; padding: 9px;">
                <h1 class="display-4">Welcome Mr. Jaiswal</h1>
                <hr />
                <h5 class="h5">All Orders <button type="button" class="btn btn-secondary" (click) = "onAllOrdersReportGenerate()">Generate All Orders Report</button> &nbsp; &nbsp; <button type="button" class="btn btn-primary" (click)="downloadAllOrders()">Download All Orders</button></h5>
                <hr />
                <!--ALL ORDERS SECTION START-->
                <div class="table-responsive">
                    <table class="table-dark table-bordered table-hover table-light border-dark text-center p-1">
                        <thead>
                            <tr>
                                <th scope="col">Order Tracking Number</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Total Quantity</th>
                                <th scope="col">Total Price</th>
                                <!--<th scope="col">Order Items</th>-->
                                <th scope="col">Order Date/Time</th>
                                <th scope="col">Shipping Info</th>
                                <th scope="col">Billing Info</th>
                                <th scope="col">Status</th>
                                <th scope="col">Modify Order Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor=" let tempOrderRecord of orderInfoList">
                                <td scope="row"><b>{{ tempOrderRecord.orderTrackingNumber }}</b></td>
                                <td scope="row">{{ tempOrderRecord.customer.email }}</td>
                                <td scope="row">{{ tempOrderRecord.totalQuantity }}</td>
                                <td scope="row"><b>{{ tempOrderRecord.totalPrice | currency:'INR' }}</b></td>
                                <!--<td scope="row">
                                    <table>
                                        <tr>
                                            <div *ngFor="let tempOrderItem of tempOrderRecord.customer.orders">
                                                <div *ngFor="let tempOrderItem of tempOrderItem.orderItems">
                                                    <td>
                                                        <img class="p-2" src="{{ tempOrderItem.imageUrl }}" width="100px"
                                                            height="100px" />
                                                        <span>Quantity: {{ tempOrderItem.quantity }} <b>{{ tempOrderItem.unitPrice | currency: 'INR' }}</b></span>
                                                    </td>
                                                </div>
                                            </div>
                                        </tr>
                                    </table>
                                </td>-->
                                <td scope="row">{{ tempOrderRecord.dateCreated | date:'medium'}}</td>

                                <td scope="row">
                                    {{
                                    tempOrderRecord.shippingAddress.state +", "+
                                    tempOrderRecord.shippingAddress.city +", "+
                                    tempOrderRecord.shippingAddress.street +", "+
                                    tempOrderRecord.shippingAddress.zipCode
                                    }}
                                </td>
                                <td scope="row">
                                    {{
                                    tempOrderRecord.billingAddress.state +", "+
                                    tempOrderRecord.billingAddress.city +", "+
                                    tempOrderRecord.billingAddress.street +", "+
                                    tempOrderRecord.billingAddress.zipCode
                                    }}
                                </td>
                                <td scope="row">
                                    <hr />
                                    {{tempOrderRecord.status}}
                                    <hr />
                                </td>
                                <td scope="row">
                                    <button class="btn btn-sm btn-success mb-1 btn-block" value="{{tempOrderRecord}}" (click)="onAccept(tempOrderRecord)">ACCEPT</button>
                                    <button class="btn btn-sm btn-secondary mb-1 btn-block" value="{{tempOrderRecord}}" (click)="onHold(tempOrderRecord)">HOLD</button>
                                    <button class="btn btn-sm btn-danger btn-block" value="{{tempOrderRecord}}" (click)="onRejected(tempOrderRecord)">REJECT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--ALL ORDERS SECTION END-->
            </div>
        </div>
    </div>
</div>