<app-header></app-header>
<div class="container mt-5 pb-4">
   <div class="container">
      <div class="row">
         <div class="col pl-0">
            <img src="../../../assets/images/frontendImages/careersPage/careerInterview2.jpg" width="350px" height="350px" />
         </div>
         <div class="col">
            <img src="../../../assets/images/frontendImages/careersPage/careerInterview1.jpg" width="350px" height="350px" />
         </div>
         <div class="col pr-0">
            <img src="../../../assets/images/frontendImages/careersPage/careerInterview3.jpg" width="350px" height="350px" />
         </div>
       </div>
   </div>
   <div class="card text-center bg-dark" style="padding: 20px;">
      <h1 class="text-light display-3">WANT TO WORK WITH US?</h1>
      <hr />
      <h5 class="container text-light lead">
         <ul class="list-group">
            <li class="list-group-item active lead">We are always actively looking for young enthusiastic people such as yourselves to collaborate 
               or work with us as a fulltime employee on our event rental management journey</li>
            <li class="list-group-item active lead bg-dark">speak directly with the owner after leaving us a message about why would want to join
               our company and what motivates you into event rental management.</li>
          </ul>
      </h5>
   </div>
   <button class="btn btn-block bg-success pt-2 pb-2" routerLink="/contactUs">SEND A MESSAGE DIRECTLY TO THE OWNER HERE</button>
</div>

<!--FOOTER START-->
<app-footer></app-footer>
<!--FOOTER END-->