<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
                        
						<table class="table">
                            <tr>
                                <td>
                                    <img src="../../../assets/images/logo.png" height="100px" width="100px" />
									<p align="left">
										Hi <strong>{{user}}</strong>,<br>This is your invoice <br />
										<span>Generation Date/Time: </span>
										<strong>{{dateTime}}</strong>
									</p>
                                </td>
                                <td>
									<div class="text-right">
										<span>Payment To</span>
										<strong>
											Mr. Nareshlal Ganjilal Jaiswal
										</strong>
										<p>
											House no.12 <br>
											Datta Bardi Road, at post Azad Chowk Hadgaon<br>
											Hadgaon, Nanded <br>
											INDIA <br>
											<a href="#">
												admin@omdecorators.com
											</a>
										</p>
									</div>
                                </td>
                            </tr>
                        </table>
						
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
								<div class="col-xs-4">Orders (Description, Quantity, Amount)</div>
							</div>
						</div>
						<div class="items">
							<table class="table">
                                <tr>
                                    <td>Order Tracking Number</td>
                                    <td>Total Item Quantity</td>
                                    <td>Order Date/Time</td>
									<td>Billing Address</td>
                                    <td>Shipping Address</td>
                                </tr>
                                <tr>
                                    <td scope="row"><b>{{ orderInfo.orderTrackingNumber }}</b></td>
                                    <td scope="row">{{ orderInfo.totalQuantity }}</td>
                                    <td scope="row">{{ orderInfo.dateCreated | date:'medium'}}</td>
                                    <td scope="row">
										{{ 
										  orderInfo.billingAddress.state +", "+
										  orderInfo.billingAddress.city +", "+
										  orderInfo.billingAddress.street +", "+
										  orderInfo.billingAddress.zipCode
										}}
									</td>
									<td scope="row">
                                      {{ 
                                        orderInfo.shippingAddress.state +", "+
                                        orderInfo.shippingAddress.city +", "+
                                        orderInfo.shippingAddress.street +", "+
                                        orderInfo.shippingAddress.zipCode
                                      }}
                                    </td>
                                  </tr>
                            </table>
						</div>
						<div class="items">
							<table>
								<tr>
									<td><b><u>ORDER ITEMS: </u></b></td>	
									<td><hr /></td>
								</tr>
								<ol>
								<tr *ngFor="let tempOrderItem of orderInfo.orderItems">
									<td class="pb-2 pr-2">
										<li><img src="{{ tempOrderItem.imageUrl }}" height="100px" width="100px" /></li>		 
									</td>
									<td class="pr-2">
										Quantity: <b>{{ tempOrderItem.quantity }}</b>
									</td>
									<td class="pr-2">
										Per Unit Price: <b>{{ tempOrderItem.unitPrice | currency: 'INR' }}</b>
									</td>
								</tr>
								</ol>
								<hr />
								<tr>
									<td>Order Status: </td>
									<td class="pl-4"><b>{{ orderInfo.status }}</b></td>
								</tr>
								<tr>
									<td>Total Price: </td>
									<td class="pl-4"><b>{{ orderInfo.totalPrice | currency:'INR' }}</b></td>
								</tr>
							</table>
						</div>
						<div class="print">
							<a (click) = "onBackClick()">
								<i class="fa fa-arrow-left"></i>
								Back
							</a>
							<a onclick="window.print()">
								<i class="fa fa-print"></i>
								Print
							</a>
						</div>
					</div>
				</div>

				<div class="footer">
					Copyright © 2022. Om Decorators & DJ Pvt. Ltd.
				</div>
			</div>
		</div>
	</div>
</div>                    